@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

:root {
  --background: #fdfcfa;
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }
  html {
    color-scheme: dark;
  }
}

html {
  min-width: 360px;
  background: var(--background);
  @apply text-black dark:text-white dark:bg-stone-900;
}

h1 {
  @apply text-4xl md:text-5xl text-teal-600 font-extrabold mb-4 dark:text-white;
}

h2 {
  @apply text-3xl md:text-4xl text-teal-700 font-bold mt-4 mb-4 dark:text-white;
}

h3 {
  @apply text-2xl md:text-3xl text-teal-800 font-semibold mt-4 mb-4 dark:text-white;
}

h4 {
  @apply text-base text-teal-800 font-semibold mt-4 mb-3 dark:text-white;
}

a {
  @apply hover:cursor-pointer decoration-orange-400 dark:decoration-orange-600 underline-offset-2 decoration-[0.1em] transition-all;
}

hr {
  @apply mb-6;
}

p {
  @apply md:text-lg font-normal text-zinc-700 dark:text-neutral-200;
}

li {
  @apply md:text-lg;
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.blog-link div .blog-link-date {
  @apply text-neutral-600 dark:text-neutral-400 tabular-nums font-mono;
}

.blog-link div .blog-link-title {
  @apply text-teal-800 dark:text-neutral-300 tracking-tight font-semibold;
}

.blog-link div .blog-link-subtitle {
  @apply text-neutral-500 dark:text-neutral-400 tracking-normal;
}

.blog-link:hover div .blog-link-title {
  @apply text-teal-950 dark:text-neutral-100 transition-all;
}

.blog-link:hover div .blog-link-title span {
  @apply underline decoration-teal-900 dark:decoration-teal-500 underline-offset-2 decoration-[0.1em];
}

.prose a {
  @apply hover:underline underline-offset-2 decoration-teal-900 dark:decoration-teal-500 text-teal-800 hover:text-teal-950 dark:hover:text-white transition-all dark:text-white;
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-500;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible no-underline;
}

.prose pre {
  @apply bg-neutral-50 dark:bg-neutral-900 rounded-lg overflow-x-auto border border-neutral-200 dark:border-neutral-900 py-2 px-3 text-sm;
}

.prose code {
  @apply px-1 py-0.5 rounded-lg font-mono;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  font-weight: 500;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0 mb-6;
}

.prose p {
  @apply my-4 md:text-lg text-zinc-700 dark:text-neutral-200;
}

.prose h1 {
  @apply text-4xl font-bold mt-6 mb-2;
}

.prose h2 {
  @apply text-3xl font-bold mt-6 mb-2 hover:underline decoration-teal-900 dark:decoration-neutral-500 decoration-[0.1em];
}

.prose h3 {
  @apply text-2xl font-semibold mt-6 mb-2 hover:underline decoration-teal-900 dark:decoration-neutral-500 decoration-[0.1em];
}

.prose h4 {
  @apply text-xl font-semibold mt-6 mb-2 hover:underline decoration-teal-900 dark:decoration-neutral-500 decoration-[0.1em];
}

.prose strong {
  @apply font-medium;
}

.prose ul {
  @apply list-disc pl-6;
}

.prose ol {
  @apply list-decimal pl-6;
}

.prose li {
  @apply md:text-lg text-zinc-700 dark:text-neutral-200;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}

footer ul li a {
  @apply font-mono;
}

.cta {
  @apply text-teal-700 bg-teal-50 dark:text-neutral-800 dark:bg-neutral-100 ring-teal-600 dark:ring-neutral-600 ring-[1px] px-4 py-2 font-medium rounded-md decoration-teal-600 dark:decoration-neutral-600 decoration-1 hover:underline;
}

.cta-subtle {
  @apply text-teal-700 dark:text-white;
}

.polaroid-gallery {
  @apply mt-10 px-5 lg:px-0 items-center flex flex-col sm:flex-row gap-10;
}

.polaroid-container {
  @apply p-2 border-[1px] h-full max-w-[300px] rounded-sm inline-block bg-white shadow-lg pointer-events-none;
}

.polaroid-container p {
  @apply px-1 text-center !text-3xl !my-1 text-stone-800;
}

.polaroid {
  display: inline-block;
  position: relative;
}

.polaroid img {
  @apply block w-full rounded-sm;
}

.polaroid:after {
  content: "";
  background: radial-gradient(
    rgba(255, 255, 255, 0) 60%,
    rgba(0, 0, 0, 0.1) 80%,
    rgba(0, 0, 0, 0.2) 100%
  );
  @apply absolute top-0 left-0 w-full h-full block rounded-sm;
}

.technologies span {
  @apply text-slate-600 text-sm font-mono font-medium bg-white ring-[1px] ring-slate-300 rounded-md px-2 leading-8 mr-2 my-1 inline-block text-center;
}
